# Byte-compiled / optimized / DLL files
__pycache__/

# xml files
*.xml

# Scrapy stuff:
.DS_Store
.idea/*

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# data files
input_data/*
output_data/*
model_data/*.weights
model_data/*.h5

# archive
archives/*